.sprint {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 50%;
	border: 1px dashed var(--border-color) ;
	margin-bottom: 1rem;
}

.sprint-header {
	background-color: var(--border-color);
	display: flex;
	flex-direction: row;
	padding: 0.25rem;
	align-items: center;
}

.sprint-id {
	font-size: 0.9rem;
	font-style: italic;
}

.sprint-title {
	font-weight: bold;
	margin-left: 0.5rem;
}

.sprint-progress {
	margin-left: 1rem;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sprint-buttons {
	margin-left: auto;
	width: fit-content;
	max-width: 30%;
}

.sprint-body {
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
}