.sidebar {
	box-sizing: border-box;
	overflow-y: scroll;
	position: sticky;
	top: 2rem;
	height: 100%;
	width: 25%;
	background-color: #f5f6fa;
}

.sidebar > * {
	margin: 0 1rem;
	padding: 0 0 1rem 0;
	border-bottom: 1px solid #bdc3c7;
}