.sidebar {
	box-sizing: border-box;
	overflow-y: scroll;
	position: sticky;
	top: 2rem;
	height: 100%;
	width: 25%;
	background-color: #f5f6fa;
}

.sidebar > * {
	margin: 0 1rem;
}

.sidebar-tabs {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	overflow-x: auto;
	background-color: #dcdde1;
	/* box-sizing: border-box; */
}

.sidebar-tabs > button {
	all: revert;
	background-color: #f5f6fa;
	border: 0;
	font-size: .75rem;
	font-weight: bold;
}

.sidebar-tabs > button:hover {
	background-color: white;
}

.sidebar-tabs > button.active {
	background-color: white;
}