#canvas-layer {
	position: relative;
	border: 1px solid lightgrey;
	box-sizing: border-box;
}

#interactive-layer {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#svg-layer {
	height: 100%;
	width: 100%;
}

.vertical-scale {
	display: flex;
	flex-direction: column;
	position: sticky;
	left: 0;
	background-color: white;
	z-index: 2;
	box-sizing: border-box;
	padding-right: 0.25rem;
}

.vertical-scale-label {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	font-size: 0.75rem;
}


.horizontal-scale {
	display: flex;
	flex-direction: row;
	width: fit-content;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;

}

.horizontal-scale-label {
	width: fit-content;
	font-size: 0.75rem;
	display: inline-block;
	transform-origin: left;
	transform: rotate(-45deg);
	position: absolute;
	white-space: nowrap;
	bottom: 0;
}

.epic-left-tip, .epic-right-tip {
	position: absolute;
	left: -0.5rem;
	top: calc(50% - 0.25rem);
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #ff7979;
	opacity: 0.7;
}

.epic-right-tip {
	left: auto;
	right: -0.5rem;
}

.epic-left-tip:hover, .epic-right-tip:hover {
	opacity: 1;
	background-color: #eb4d4b;
}

.epic-resize-left-handle, .epic-resize-right-handle {
	background-color: #f6e58d;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
}	

.epic-resize-right-handle {
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
	opacity: 0.5;
}	

.epic-resize-left-handle:hover, .epic-resize-right-handle:hover {
	opacity: 1;
	background-color: #f9ca24;
}