.issue-list-sidebar {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.issue-item-compact {
	display: flex;
    flex-direction: column;
    border-bottom: 0;
    box-sizing: border-box;
    align-items: flex-start;
	border: 1px dotted #bdc3c7;
	border-bottom: 0;
	padding: 0.25rem;
}

.issue-item-compact:last-child {
	border-bottom: 1px dotted #bdc3c7;
}

.issue-item {
	display: flex;
	flex-direction: column;
	border: 1px dotted #bdc3c7;
	border-bottom: 0;
	padding: 0.25rem 1rem;
	box-sizing: border-box;
	align-items: flex-start;
}

.issue-item:last-of-type {
	border-bottom: 1px dotted #bdc3c7;
}

.issue-item>* {
	width: 100%;
	margin-bottom: 0.5rem;
}

.issue-item>div:last-child {
	margin-bottom: 0;
	border: 0;
}

.issue-item-header, .issue-item-header-only {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}



.issue-item-buttons {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.issue-item-buttons > .border-button:last-child {
	margin-right: 0;
}

.issue-item-description {
	text-align: left;
	border-bottom: 0.1rem solid #dcdde1;
	font-size: 0.9rem;
}

.issue-item-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.issue-item-tag {
	font-size: 0.9rem;
	margin-right: 1rem;
	box-sizing: border-box;
}

.issue-item-tag-key {
	font-size: 0.9rem;
	color: #57606f;
}

.issue-item-tag-value {
	padding: 0.25rem;
}

.whisper {
	color: #57606f;
	font-style: italic;
}

/* Inherited */

.issue-item-header-only {
	justify-content: flex-start;
}

.issue-item-header-only > .issue-item-tag {
	margin-right: 0;
	margin-left: 1rem;
}