.progress-bar-light, .progress-bar-dark {
	display: inline-block;
	background-color: #ecf0f1;
	height: 1rem;
	width: 100%;
	border-radius: 5px;
}

.progress-bar-dark {
	background-color: #34495e;
}
  
.progress {
	display: inline-block;
	background-color: #27ae60;
	height: 100%;
	vertical-align: top;
	border-radius: 5px;
}
  